<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>842763872099-s0j42rka3ndbnlnjpdrobqvogsp2ior3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.842763872099-s0j42rka3ndbnlnjpdrobqvogsp2ior3</string>
	<key>API_KEY</key>
	<string>AIzaSyALadlcP_md9pRZ62DvNzNWpMwluuBnifE</string>
	<key>GCM_SENDER_ID</key>
	<string>842763872099</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>oddly.app.x01</string>
	<key>PROJECT_ID</key>
	<string>x01x-9e0a5</string>
	<key>STORAGE_BUCKET</key>
	<string>x01x-9e0a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:842763872099:ios:42147c22374c4899b91556</string>
</dict>
</plist>